.navbar-brand {
    font-size: 2rem;
    margin-right: 40px;
    margin-left: 100px;
}

.navbar-nav .nav-item {
    margin-right: 15px;
    margin-left: 15px;
}

select {
    margin: 0.5%;
}

input {
    margin: 0.5%;
}

.btn {
    margin: 0.5%;
}