.navbar-brand {
    font-size: 2.4rem;
    margin-right: 40px;
    margin-left: 100px;
    color: #f9efd1;
    font-weight: bolder;
    font-family: "Gill Sans", sans-serif;
}
.navbar-brand:hover {
    color: #dfd3b5;
}
.navbar-nav .nav-item {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: #444444;
}
.container-fluid {
    padding: 0;
    background-color: #e8c48f;
}
/* modal */
h5 {
    color: #df8e58;
    font-weight: bold;
    font-size: 18px;
}
.form-label {
    color: #555555;
    font-size: 16px;
    position: relative;
    top: 10px;
    left: 20px;
    width: 50px;
}
.form-control {
    margin: 0.5%;
    width: 250px;
    position: relative;
    left: -50px;
}
.btn-danger {
    color: #FFFFFF;
    background-color: #c7895f;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* Additional styles for normal state (optional) */
    border: 1px solid #c7895f;
    border-radius: 5px;
    padding: 5px 10px;
}
select {
    margin: 0.5%;
}
input {
    margin: 0.5%;
}
.btn {
    margin: 0.5%;
}
/* main content */
.event{
    border: 1.5px solid #c7895f;
    border-radius: 10px;
    padding: 20px 30px;
    width: 725px;
}
.event-header{
    font-size: 18px;
    font-weight: medium;
    color: #444444;
    margin-left: 20px;
    margin-top: 10px;
}
.event-details{
    font-size: 14px;
    color: #666666;
    a {
        font-size: 14px;
        color:#e99143;

    }
}
.justify-content-center { /* container's smaller blocks */
    padding-top: 15px;
    border-bottom: 1px solid #d7d7d7;
    p {
        padding-left: 20px;
        font-size: 16px;
        color: #555555;
    }
    a { /* for "read more" */
        font-size: 14px;
        color:#e99143;

    }
}
/* info about events showed in the container */
.info-label {
    color:#c7895f;
    font-size: 16px;
}
.info-value {
    color: #666666;
    font-size: 16px;
}
.eventType-label { /* indicates event/warning/report */
    color:#eeae83;
    font-size: 16px;
    font-weight: bold;
}
/* report events etc. */
input::placeholder {
    color: #666666;
    font-size: 14px;
}
#roadInput, #descriptionInput, #imageUrlInput, #createdAtInput, #responderInput, #warningLevelInput, #warningDescriptionInput, #warningCreatedAtInput, #reportDescriptionInput, #reportCreatedAtInput {
    font-size: 14px;
    color: #666666;
    margin-bottom: 15px;
    width: 100%;
    margin-left: 50px;
}
#closeBtn {
    color: #FFFFFF;
    background-color: #eeae83;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* Additional styles for normal state (optional) */
    border: 1px solid #eeae83;
    border-radius: 5px;
    padding: 5px 10px;
}
#closeBtn:hover {
    background-color: #b37373;
    border: 1px solid #b37373;
}
.animalDescriptionInput {
    font-size: 14px;
    width: 70%;
}
.col-auto {
    color: #444444;
}
/* left bar */
h3, h4 {
    color: #c7895f;
    font-weight: bold;
    font-size: 18px;
}
.form-label  {
    font-size: 16px;
    color: #666666;
    margin-bottom: 15px;
}
.form-select{
    font-size: 14px;
    color: #666666;
    margin-bottom: 15px;
}
.btn-primary {
    color: #FFFFFF;
    background-color: #eeae83;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* Additional styles for normal state (optional) */
    border: 1px solid #eeae83;
    border-radius: 5px;
    padding: 5px 10px;
}
.btn-primary:hover {
    background-color: #b37373;
    border: 1px solid #b37373;
}
.btn-secondary {
    color: #eeae83;
    background-color: #FFFFFF;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* Additional styles for normal state (optional) */
    border: 1px solid #eeae83;
    border-radius: 5px;
    padding: 5px 10px;
}
.btn-secondary:hover {
    background-color: #b37373;
    border: 1px solid #FFFFFF;
}
/* pagination */
.pagination {
    color: #666666;
    font-size: 14px;
    a {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 14px;
        color:#e99143;
    }
}
