<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Responder List </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/main.css') }}" rel="stylesheet">
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('admin_events', offset=0)}}"> FurAlert! </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin_events', offset=0) }}"> All Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('user_list', offset=0)}}"> User List </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('responder_list', offset=0) }}"> Responder List </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">
              <img src="images/icon.png" alt="Icon" width="30" height="30">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Profile Modal -->
  <div class="modal" id="profileModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"> My Profile </h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="row mb-3">
              <label for="idInput" class="col form-label"> Admin ID </label>
              <input type="text" class="col form-control" id="idInput" readonly>
            </div>
            <div class="row mb-3">
              <label for="emailInput" class="col form-label"> Email </label>
              <input type="email" class="col form-control" id="emailInput" readonly>
            </div>
            <button type="button" class="btn btn-danger" id="logoutBtn"> Log out </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Responders -->
  <div class="container mt-5">
    <div class="row">
      <!-- Responder list -->
      <div id="responderList" class="col-md-9">
        <h3> Responder List </h3>
        <!-- Responders -->
        {% for responder in responderlist %}
        <div class="justify-content-center">
            <div>
                <p> Responder ID {{ responder['responderid'] }} &emsp; Name {{ responder['respondername'] }} &emsp; Email {{ responder['email']}} &emsp; Phone Number {{ responder['phonenumber']}} </p> 
            </div>
            <div>
                <p> 
                    &emsp; Address {{ responder['address'] }} &emsp;&emsp;
                    <a class="col" href="{{url_for('responderinfo', responderid=responder['responderid'], offset=0) }}"> Read more </a>
                </p>
            </div>
        </div>
        {% endfor %}

        <!-- Pagination -->
        <div class="pagination justify-content-center">
          <a {% if offset == 0 %} href="#" {% else %} href="{{ url_for('responder_list', offset = offset - 1) }}" {% endif %}> 上一頁 </a>
          <span> Page {{ offset + 1 }} </span>
          <a {% if offset == 100 %} href="#" {% else %} href="{{ url_for('responder_list', offset = offset + 1) }}" {% endif %}> 下一頁 </a>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static', filename='assets/js/admin_main.js') }}"></script>
</body>
</html>